<link rel="stylesheet" href="css/style.css">

<form id="searchForm" class="form">
    <h2> Formulaire Add</h2>
    <p  type="Name:"><input name="user" type="text" id="user"  placeholder="Id utilisateur"> </input>
    </p>
    <BR>
     <label class="containers">Male
      <input name="gender" value="Male" type="radio" >
      <span class="checkmark"></span>
    </label>
    
    <label class="containers">Female
      <input name="gender" value="Female" type="radio">
      <span class="checkmark"></span>
    </label>
    
   
    
    
      <BR>
        
          
      
        <select id="etat" class="combobox"> 
          <option value="">Etat Social :</option>
          <option value="Marié">Marié</option>
          <option value="Celibataire">Celibataire</option> 
  
        </select>
        <style> 
           
        </style>
        <br>
        <BR>
          <BR>
        <button class="button" onclick="AddForm()" type="button">
          Add</button>



          <script>
 
            function AddForm() {
                       var table = document.getElementById("customers");
                       var user = document.getElementById("user1");
                       var gender = document.getElementsByName("gender");
                       var etat = document.getElementById("etat1");
                       
                       
                       var row = table.insertRow(-1);
                       var cell1 = row.insertCell(0);
                       var cell2 = row.insertCell(1);
                       var cell3 = row.insertCell(2);
                       var cell4 = row.insertCell(3);
                       var cell5 = row.insertCell(4);
                       
           
                       
           
                       
                                    
                       cell1.innerHTML = user.value;
                       cell2.innerHTML = gender.value;
           
                       for (i = 0; i < gender.length; i++) {
                           if (gender[i].checked)
                               cell2.innerHTML = gender[i].value;
                       }
                       cell3.innerHTML = etat.value;
                       var lastRow = row;
                var lastCell = lastRow.cells[lastRow.cells.length - 2];
                lastCell.innerHTML = "<i value='Delete' type='button' onclick='deleteRow(this)'' alt='Delete6' class='deleteIcon fa fa-trash'></i>";
               
                var lastCell = lastRow.cells[lastRow.cells.length - 1];
                lastCell.innerHTML =" <svg <i xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' onclick='EditBtn(this)' class='bi bi-pen' viewBox='0 0 16 16'><path d='m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z'/></i>></svg>" ;
                    }

</script>                 