<link rel="stylesheet" href="css/style.css">

<form id="EditForm" class="form">
    <h2> EditForm</h2>
    <p  type="Name:"><input name="user2" type="text" id="user2"  placeholder="Id utilisateur"> </input>
    </p>
    <BR>
     <label class="containers">Male
      <input name="gender2" value="Male" type="radio" >
      <span class="checkmark"></span>
    </label>
    
    <label class="containers">Female
      <input name="gender2" value="Female" type="radio">
      <span class="checkmark"></span>
    </label>
    
   
    
    
      <BR>
        
          
      
        <select id="etat2" class="combobox"> 
          <option value="">Etat Social :</option>
          <option value="Marié">Marié</option>
          <option value="Celibataire">Celibataire</option> 
  
        </select>
        
        <br>
        <BR>
          <BR>
        
          <button class="SaveBtn" onclick="editRow()" type="button">
            save</button>  

           
        
          
          
  
  </form>

  <script>
    var table = document.getElementById("customers"),rIndex;
            
            for(var i = 1; i < customers.rows.length; i++)
            {
                customers.rows[i].onclick = function()
                {
                    rIndex = this.rowIndex;
                    console.log(rIndex);
                    
                    document.getElementById("user2").value = this.cells[0].innerHTML;
                    document.getElementsByName("gender2").value = this.cells[1].innerHTML;
                    document.getElementById("etat2").value = this.cells[2].innerHTML;
                };
            }
            
            
           // edit the row
            function editRow()
            {
                table.rows[rIndex].cells[0].innerHTML = document.getElementById("user2").value;
                table.rows[rIndex].cells[1].innerHTML = document.getElementsByName("gender2").value;
                table.rows[rIndex].cells[2].innerHTML = document.getElementById("etat2").value;
                
           
           
              }
  </script>