<link rel="stylesheet" href="css/style.css">

<div id="main">
    <div class="container">
      <nav class="navbar navbar-expand-lg ftco_navbar ftco-navbar-light" id="ftco-navbar">
        <div class="container">
          <a class="navbar-brand" href="home.html">Project Stage</a>
          
          
            
          
            <ul class="navbar-nav ml-auto mr-md-3">
              <li class="nav-item active"><a href="home.html" class="nav-link">Home</a></li>
              <li class="nav-item"><a href="news.html" class="nav-link">News</a></li>
              <li class="nav-item"><a href="about.html" class="nav-link">About</a></li>
              <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
            </ul>
          
        </div>
      </nav>
    
    </div>