<link rel="stylesheet" href="css/style.css">

<form id="searchForm" class="form">
    <h2> Formulaire de Recherche</h2>
    <p  type="Name:"><input name="user" type="text" id="user"  placeholder="Id utilisateur"> </input>
    </p>
    <BR>
     <label class="containers">Male
      <input name="gender" value="Male" type="radio" >
      <span class="checkmark"></span>
    </label>
    
    <label class="containers">Female
      <input name="gender" value="Female" type="radio">
      <span class="checkmark"></span>
    </label>
    
   
    
    
      <BR>
        
          
      
        <select id="etat" class="combobox"> 
          <option value="">Etat Social :</option>
          <option value="Marié">Marié</option>
          <option value="Celibataire">Celibataire</option> 
  
        </select>
        <style> 
           
        </style>
        <br>
        <BR>
          <BR>
        <button class="button" onclick="filterTable()" type="button">
          search</button>


          <script>
               function filterTable() {
          const searchForm=document.getElementById("searchForm")
          const customersTable=document.getElementById("customers")
      const query = q => document.querySelectorAll(q);
      const filters_old = [...query('th input')].map(e => new RegExp(e.value, 'i'));
      let  genders = document.getElementsByName("gender")
        let gender = ""
        for (let i = 0; i < genders.length; i++) {
            if (genders[i].checked)
            {
                gender =  genders[i];
            }
        }
      const user = document.getElementById("user")
      const etat = document.getElementById("etat")
      const filters =[user,gender,etat].map(e => new RegExp(e.value, 'i'));
    console.log(query)
    console.log("filters", filters)
    console.log("filters_old",filters_old)
    console.log("gender",gender)
      query('tbody tr').forEach(row => row.style.display = 
        filters.every((f, i) => f.test(row.cells[i].textContent)) ? '' : 'none');
       

        
         }
          </script>